<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link href="{{ url_for('static', filename='assets/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/styles.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="page error-bg" id="particles-js">
      <div class="error-page">
        <div class="container">
          <div class="text-center p-5 my-auto">
            <div class="row align-items-center justify-content-center h-100">
              <div class="col-xl-7">
                <p class="error-text mb-sm-0 mb-2">404</p>
                <p class="fs-18 fw-semibold mb-3">Oops &#128557;,The page you are looking for is not available.</p>
                <div class="row justify-content-center mb-5">
                  <div class="col-xl-6">
                    <p class="mb-0 op-7">We are sorry for the inconvenience,The page you are trying to access has been removed or never been existed.</p>
                  </div>
                </div>
                <a href="{{ url_for('file') }}" class="btn btn-primary"><i class="ri-arrow-left-line align-middle me-1 d-inline-block"></i>BACK TO HOME</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>