<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='assets/images/brand-logos/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='assets/libs/bootstrap/css/bootstrap.min.css') }}" id="style" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/styles.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/custom.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div id="loader">
      <img src="{{ url_for('static', filename='assets/images/media/loader.svg') }}" alt="" />
    </div>
    <div class="page">
      <header class="app-header">
        <div class="main-header-container container-fluid">
          <div class="header-content-left"></div>

          <div class="header-content-right">
            <div class="header-element header-search">
              <a href="javascript:void(0);" class="header-link" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i class="ti ti-search header-link-icon"></i>
              </a>
            </div>

            <div class="header-element notifications-dropdown">
              <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
                <i class="ti ti-bell header-link-icon"></i>
                <span class="badge bg-secondary rounded-pill header-icon-badge pulse pulse-secondary" id="notification-icon-badge">5</span>
              </a>
              <div class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                <div class="p-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0 fs-17 fw-semibold">Notifications</p>
                    <span class="badge bg-secondary-transparent" id="notifiation-data">5 Unread</span>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled mb-0" id="header-notification-scroll">
                  <li class="dropdown-item">
                    <div class="d-flex align-items-start">
                      <div class="pe-2">
                        <span class="avatar avatar-md bg-primary-transparent avatar-rounded"><i class="ti ti-gift fs-18"></i></span>
                      </div>
                      <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                        <div>
                          <p class="mb-0 fw-semibold">
                            <a href="notifications.html">Your Order Has Been Shipped</a>
                          </p>
                          <span class="text-muted fw-normal fs-12 header-notification-text">Order No: 123456 Has Shipped To Your Delivery Address</span>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="dropdown-item">
                    <div class="d-flex align-items-start">
                      <div class="pe-2">
                        <span class="avatar avatar-md bg-secondary-transparent avatar-rounded"><i class="ti ti-discount-2 fs-18"></i></span>
                      </div>
                      <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                        <div>
                          <p class="mb-0 fw-semibold">
                            <a href="notifications.html">Discount Available</a>
                          </p>
                          <span class="text-muted fw-normal fs-12 header-notification-text">Discount Available On Selected Products</span>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="dropdown-item">
                    <div class="d-flex align-items-start">
                      <div class="pe-2">
                        <span class="avatar avatar-md bg-pink-transparent avatar-rounded"><i class="ti ti-user-check fs-18"></i></span>
                      </div>
                      <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                        <div>
                          <p class="mb-0 fw-semibold">
                            <a href="notifications.html">Account Has Been Verified</a>
                          </p>
                          <span class="text-muted fw-normal fs-12 header-notification-text">Your Account Has Been Verified Sucessfully</span>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="dropdown-item">
                    <div class="d-flex align-items-start">
                      <div class="pe-2">
                        <span class="avatar avatar-md bg-warning-transparent avatar-rounded"><i class="ti ti-circle-check fs-18"></i></span>
                      </div>
                      <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                        <div>
                          <p class="mb-0 fw-semibold">
                            <a href="notifications.html">Order Placed <span class="text-warning">ID: #1116773</span></a>
                          </p>
                          <span class="text-muted fw-normal fs-12 header-notification-text">Order Placed Successfully</span>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="dropdown-item">
                    <div class="d-flex align-items-start">
                      <div class="pe-2">
                        <span class="avatar avatar-md bg-success-transparent avatar-rounded"><i class="ti ti-clock fs-18"></i></span>
                      </div>
                      <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                        <div>
                          <p class="mb-0 fw-semibold">
                            <a href="notifications.html">Order Delayed <span class="text-success">ID: 7731116</span></a>
                          </p>
                          <span class="text-muted fw-normal fs-12 header-notification-text">Order Delayed Unfortunately</span>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="p-3 empty-header-item1 border-top">
                  <div class="d-grid">
                    <a href="notifications.html" class="btn btn-primary">View All</a>
                  </div>
                </div>
                <div class="p-5 empty-item1 d-none">
                  <div class="text-center">
                    <span class="avatar avatar-xl avatar-rounded bg-secondary-transparent">
                      <i class="ri-notification-off-line fs-2"></i>
                    </span>
                    <h6 class="fw-semibold mt-3">No New Notifications</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-element">
              <a href="javascript:void(0);" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <div class="d-flex align-items-center">
                  <div class="me-sm-2 me-0">
                    <img src="{{ url_for('static', filename='assets/images/faces/9.jpg') }}" alt="img" width="32" height="32" class="rounded-circle" />
                  </div>
                  <div class="d-sm-block d-none">
                    <p class="fw-semibold mb-0 lh-1">Json Taylor</p>
                    <span class="op-7 fw-normal d-block fs-11">Web Designer</span>
                  </div>
                </div>
              </a>
              <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                <li>
                  <a class="dropdown-item d-flex" href="profile.html"><i class="ti ti-user-circle fs-18 me-2 op-7"></i>Profile</a>
                </li>
                <li>
                  <a class="dropdown-item d-flex" href="mail.html"><i class="ti ti-inbox fs-18 me-2 op-7"></i>Inbox <span class="badge bg-success-transparent ms-auto">25</span></a>
                </li>
                <li>
                  <a class="dropdown-item d-flex border-block-end" href="to-do-list.html"><i class="ti ti-clipboard-check fs-18 me-2 op-7"></i>Task Manager</a>
                </li>
                <li>
                  <a class="dropdown-item d-flex" href="mail-settings.html"><i class="ti ti-adjustments-horizontal fs-18 me-2 op-7"></i>Settings</a>
                </li>
                <li>
                  <a class="dropdown-item d-flex border-block-end" href="javascript:void(0);"><i class="ti ti-wallet fs-18 me-2 op-7"></i>Bal: $7,12,950</a>
                </li>
                <li>
                  <a class="dropdown-item d-flex" href="chat.html"><i class="ti ti-headset fs-18 me-2 op-7"></i>Support</a>
                </li>
                <li>
                  <a class="dropdown-item d-flex" href="sign-in-cover.html"><i class="ti ti-logout fs-18 me-2 op-7"></i>Log Out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <div class="main-content app-content ms-0">
        <div class="container-fluid">
          <div class="file-manager-container p-2 gap-2 d-sm-flex">
            <div class="file-manager-navigation">
              <div class="d-flex align-items-center justify-content-between w-100 p-3 border-bottom">
                <div>
                  <h6 class="fw-semibold mb-0">File Manager</h6>
                </div>
                <div class="dropdown">
                  <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ri-settings-3-line"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">Hidden Files</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-3 border-bottom">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0" placeholder="Search Files" aria-describedby="button-addon2" />
                  <button class="btn btn-light" type="button" id="button-addon2">
                    <i class="ri-search-line text-muted"></i>
                  </button>
                </div>
              </div>
              <div>
                <ul class="list-unstyled files-main-nav" id="files-main-nav">
                  <li class="active files-type">
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-folder-2-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> My Files </span>
                        <span class="badge bg-primary">322</span>
                      </div>
                    </a>
                  </li>
                  <li class="files-type">
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-star-s-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> favourites </span>
                      </div>
                    </a>
                  </li>
                  <li class="files-type">
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-share-forward-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Shared Files </span>
                      </div>
                    </a>
                  </li>
                  <li class="files-type">
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-delete-bin-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Recycle Bin </span>
                      </div>
                    </a>
                  </li>
                  <li class="files-type">
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-history-fill fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Recent Files </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-settings-3-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Settings </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-questionnaire-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Help Center </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-folder-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Version </span>
                      </div>
                    </a>
                  </li>
                  <li class="mb-4">
                    <a href="javascript:void(0)">
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <i class="ri-logout-box-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap"> Log out </span>
                      </div>
                    </a>
                  </li>
                  <li class="mb-4">
                    <div class="text-muted mb-2">
                      <p class="mb-1"><span class="fw-bold fs-14">69.42GB</span> Used</p>
                      <p class="fs-12 mb-0">58% Used - 51.04Gb free</p>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 58%" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            {% block file_manager_content %}
            {% endblock %}

            <div class="selected-file-details d-none">
              <div class="d-flex p-3 align-items-center justify-content-between border-bottom">
                <div>
                  <h6 class="fw-semibold mb-0">File Details</h6>
                </div>
                <div class="d-flex align-items-center">
                  <div class="dropdown me-1">
                    <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-light waves-effect waves-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">Share</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">Copy</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">Move</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">Raname</a>
                      </li>
                    </ul>
                  </div>
                  <button id="file-close-btn" class="btn btn-icon btn-sm btn-danger-light d-xl-none d-block">
                    <i class="ri-close-fill"></i>
                  </button>
                </div>
              </div>
              <div class="filemanager-file-details" id="filemanager-file-details">
                <div class="p-3 text-center border-bottom border-block-end-dashed">
                  <div class="file-details mb-3">
                    <img src="{{ url_for('static', filename='assets/images/media/file-manager/3.png') }}" alt="" />
                  </div>
                  <div>
                    <p class="mb-0 fw-semibold fs-16 file-details-title">AMB-2012.zip</p>
                    <p class="mb-0 text-muted fs-10"><span class="file-details-size"></span>MB | 23,Nov 2022</p>
                  </div>
                </div>
                <div class="p-3 border-bottom border-block-end-dashed">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div><span class="fw-semibold">File Format : </span><span class="fs-12 text-muted">zip</span></div>
                    </li>
                    <li class="list-group-item">
                      <div>
                        <p class="fw-semibold mb-0">File Description :</p>
                        <span class="fs-12 text-muted">This file contains 3 folder ynex. main & ynex. premium & ynex. featured and 42 images and layout styles are added in this update.</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <p class="fw-semibold mb-0">File Location :</p>
                      <span class="fs-12 text-muted">Device/Storage/Archives/AMB-2012.zip</span>
                    </li>
                  </ul>
                </div>
                <div class="p-3 border-bottom border-block-end-dashed">
                  <p class="mb-1 fw-semibold fs-14">Downloaded from :</p>
                  <a class="text-primary fw-semibold text-break" href="https://themeforest.net/user/spruko/portfolio" target="_blank">
                    <u>https://themeforest.net/user/spruko/portfolio</u>
                  </a>
                </div>
                <div class="p-3">
                  <p class="mb-2 fw-semibold fs-14">Shared With :</p>
                  <div class="d-flex align-items-center p-2 mb-1">
                    <span class="avatar avatar-sm me-2">
                      <img src="{{ url_for('static', filename='assets/images/faces/1.jpg') }}" alt="" />
                    </span>
                    <span class="fw-semibold flex-fill">Akira Susan</span>
                    <span class="badge bg-success-transparent fw-normal">28,Nov 2022</span>
                  </div>
                  <div class="d-flex align-items-center p-2 mb-1">
                    <span class="avatar avatar-sm me-2">
                      <img src="{{ url_for('static', filename='assets/images/faces/15.jpg') }}" alt="" />
                    </span>
                    <span class="fw-semibold flex-fill">Khalid Ahmad</span>
                    <span class="badge bg-success-transparent fw-normal">16,Oct 2022</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="input-group">
                <a href="javascript:void(0);" class="input-group-text" id="Search-Grid"><i class="fe fe-search header-link-icon fs-18"></i></a>
                <input type="search" class="form-control border-0 px-2" placeholder="Search" aria-label="Username" />
                <a href="javascript:void(0);" class="input-group-text" id="voice-search"><i class="fe fe-mic header-link-icon"></i></a>
                <a href="javascript:void(0);" class="btn btn-light btn-icon" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">Separated link</a>
                  </li>
                </ul>
              </div>
              <div class="mt-4">
                <p class="font-weight-semibold text-muted mb-2">Are You Looking For...</p>
                <span class="search-tags"
                  >People<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a
                ></span>
                <span class="search-tags"
                  >Pages<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a
                ></span>
                <span class="search-tags"
                  >Articles<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a
                ></span>
                <span class="search-tags"
                  >Tags<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a
                ></span>
              </div>
              <div class="my-4">
                <p class="font-weight-semibold text-muted mb-2">Recent Search :</p>
                <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert">
                  <a href="notifications.html"><span>Notifications</span></a>
                  <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert" aria-label="Close"><i class="fe fe-x text-muted"></i></a>
                </div>
                <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert">
                  <a href="alerts.html"><span>Alerts</span></a>
                  <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert" aria-label="Close"><i class="fe fe-x text-muted"></i></a>
                </div>
                <div class="p-2 border br-5 d-flex align-items-center text-muted mb-0 alert">
                  <a href="mail.html"><span>Mail</span></a>
                  <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert" aria-label="Close">
                    <i class="fe fe-x text-muted"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group ms-auto">
                <button class="btn btn-sm btn-primary-light">Search</button>
                <button class="btn btn-sm btn-primary">Clear Recents</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer mt-auto py-3 bg-white text-center">
        <div class="container">
          <span class="text-muted">
            Copyright © <span id="year"></span>
            ADBMS
          </span>
        </div>
      </footer>
    </div>
    <div class="scrollToTop">
      <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/file-manager.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/file-action.js') }}"></script>
  </body>
</html>
